@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.button{
    align-items: center;
}

.scanner{
    margin: 20px;
    padding: auto;
}

.formulario {
    padding-top: 10px;
    margin: 20px;

}
.campos {
    flex: auto;
    padding: auto;
}